{%extends "aplicatie_exemplu/baza.html"%}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'aplicatie_exemplu/css/adauga_jucarie.css' %}" />
<div class="container">
    <h2>Adauga o Jucarie Noua</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="row">
            {% for field in form %}
                <div class="col-md-6 mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <small class="text-danger d-block">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Adauga Jucaria</button>
    </form>
{%endblock%}